@font-face {
  font-family: Vivo;
  font-weight: lighter;
  src: url(../fonts/vivo-Light.otf);
}
@font-face {
  font-family: Vivo;
  font-weight:normal;
  src: url(../fonts/vivo-Regular.otf);
}
@font-face {
  font-family: Vivo;
  font-weight:bolder;
  src: url(../fonts/vivo-Bold.otf);
}

body,
html {
  height: 100%;
  margin: 0;
  color: rgb(0, 0, 0);
}
*{
  font-family: 'Vivo' !important;
  font-weight: normal;
  box-sizing: border-box;
}

.bgimg-1 {
  position: relative;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}

.bgimg-1 {
  background-image: url('../background.png');
  max-width: 100%;
  height: 112%;
}
.bgimg-2 {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../background.png');
  max-width: 100%;
  height: 112%;
}
.form-control:active,.form-control:focus{
  box-shadow: none !important;
  outline: 0px !important;
  border-color: green;
}
.mt-5rem{
  margin-top: 9.5rem !important;
}
.bgimg-11 {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../background.png');
  max-width: 100%;
  height: 100%;
}
.mt-minee{
  margin-top: 17rem !important;
}
/* 774c15 */
.btn-mine{
  background-color: #774c15 !important;
}
.btn-mine:hover{
  background-color: #774c15 !important;
}

.border-nonee{
  border: 0px solid black !important;
}
.caption {
  position: absolute;
  left: 0;
  top: 18% !important;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: rgb(0, 0, 0);
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #111;
  font-weight: bolder;
}
.poss{
  position: absolute;
  top: -1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
}
canvas {
  position: absolute;
  top: 0;
}
.img-fluid2{
  max-width: 50%;
  height: auto;
}
.gift {
  margin: 0 auto;
}

.form {
  text-align: left;
}

.card {
  margin: 0 auto;
}

.card {
  background-color: transparent;
  color: rgb(0, 0, 0);
}

.popup {
  font-size: 24px;
  color: rgb(0, 0, 0);
  font-weight: 900;
}
.popup2 {
  font-size: 24px;
  letter-spacing: 0.1 !important;
  color: rgb(0, 0, 0);
  font-weight: 900;
}
.form-control{
  padding: 1rem;
}

.text {
  font-size: larger;
  color: rgb(0, 0, 0);
  font-weight: 500;
}


.wrapper {
  width: 90%;
  max-width: 34.37em;
  max-height: 90vh;
  background-color: #ffffff;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 3em;
  border-radius: 1em;
  box-shadow: 0 4em 5em rgba(27, 8, 53, 0.2);
}
.container {
  position: relative;
  width: 100%;
  height: 100%;
}
.spin-btn:hover, .spin-btn:focus{
  outline: none;
  box-shadow: none;
  filter: drop-shadow(0px 7px 6px rgba(0, 0, 0, 0.59));
}


/* Spinner */

/* body {
  background: yellow;
} */

#carousel-wrapper,
#carousel img {
  height: 100px;
  line-height: 100px;
  color: white;
}

#carousel img:nth-of-type(1) {
  -webkit-transform: rotateX(0deg) translateZ(130px);
}
#carousel img:nth-of-type(2) {
  -webkit-transform: rotateX(60deg) translateZ(130px);
}
#carousel img:nth-of-type(3) {
  -webkit-transform: rotateX(120deg) translateZ(130px);
}
#carousel img:nth-of-type(4) {
  -webkit-transform: rotateX(180deg) translateZ(130px);
}
#carousel img:nth-of-type(5) {
  -webkit-transform: rotateX(240deg) translateZ(130px);
}
#carousel img:nth-of-type(6) {
  -webkit-transform: rotateX(300deg) translateZ(130px);
}

#carousel[data-state="1"] img:nth-of-type(1),
#carousel[data-state="2"] img:nth-of-type(2),
#carousel[data-state="3"] img:nth-of-type(3),
#carousel[data-state="4"] img:nth-of-type(4),
#carousel[data-state="5"] img:nth-of-type(5),
#carousel[data-state="6"] img:nth-of-type(6) {
  opacity: 1;
}

#carousel-wrapper {
  position: absolute;
  top: 35%;
  left: 50%;
  width: 30%;
  transform: translateX(-50%) translateY(-50%);
  perspective: 1100px;
}

#carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
  transform-style: preserve-3d;
  transition: all 1.5s;
}

#carousel img {
  display: block;
  position: absolute;
  margin: 0;
  height: 100%;
  font-size: 80px;
  font-weight: bold;
  color: black;
  text-align: center;
  opacity: 0.9;
  transition: all 1.5s;
  backface-visibility: hidden;
}
