{% extends 'base.html' %} {% block content %}

<div class="pageholder">
  <div class="titleholder">
    <div class="title">
      <i class="fa-solid fa-table"></i> Welcome to Vivo Dashboard
    </div>
  </div>

  <div class="linkholder">
    <div class="linkbox">
      <a href="{% url 'dashboard'%}"> Vivo Customer Dashboard </a>
    </div>
  </div>

  <!-- <div class="linkholder">
        <div class="linkbox"> 
            Next tutorial...
        </div>

       
    </div> -->
</div>
{% endblock %}