{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
     <!-- Required meta tags -->
     <meta charset="utf-8" />
     <meta name="viewport" content="width=device-width, initial-scale=1" />

     <!-- Bootstrap CSS -->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
     <link rel="stylesheet" href="{% static 'css/style.css' %}" />

     <title>Lucky Draw</title>
</head>

<body>
     <!-- Optional JavaScript; choose one of the two! -->
     <div class="bgimg-1">
          <div class="caption">
               <div class="form container mt-5rem">
                    <div class="card" style="max-width: 80rem">
                         <div class="card-body bg-light rounded-2 p-2 p-md-4 px-4">
                              <h3 class="btn btn-lg btn-mine text-white poss text-center">Please fill up the form</h3>
                              <form class="pt-2" action="{% url 'register_customer' %}" method="POST">
                                   <h5 class="text-danger my-5">{{error}}</h5>
                                   {% csrf_token %}
                                   <div class="row row-cols-1 row-cols-md-2">
                                        <div class="mb-3 col">
                                             <label for="customerName" class="form-label">Customer name<span
                                                       class="text-danger">*</span></label>
                                             <input type="text" class="form-control" id="customerName"
                                                  name="customer_name" required />
                                        </div>

                                        <!-- contact number -->
                                        <div class="mb-3 col">
                                             <label for="contactNumber" class="form-label">Contact number<span
                                                       class="text-danger">*</span></label>
                                             <input type="text" class="form-control" id="contactNumber"
                                                  name="phone_number" required />
                                        </div>

                                        <!-- shop name -->
                                        <div class="mb-3 col">
                                             <label for="shopName" class="form-label">Shop name<span
                                                       class="text-danger">*</span></label>
                                             <input type="text" class="form-control" id="shopName" name="shop_name"
                                                  required />
                                        </div>

                                        <!-- sold area -->
                                        <div class="mb-3 col">
                                             <label for="area" class="form-label">Sold area<span
                                                       class="text-danger">*</span></label>
                                             <input type="text" class="form-control" id="area" name="sold_area"
                                                  required />
                                        </div>

                                        <div class="mb-3 col">
                                             <label for="phoneModel" class="form-label">Phone model<span
                                                       class="text-danger">*</span></label>
                                             <select class="form-select" id="phoneModel" name="phone_model">
                                                  <option value="">-- Select a Phone Model --</option>
                                                  {% for phone_model in phone_models %}
                                                  <option value="{{ phone_model.id }}">{{ phone_model.phone_model }}
                                                  </option>
                                                  {% endfor %}
                                             </select>
                                        </div>

                                        <!-- imei number -->
                                        <div class="mb-3 col">
                                             <label for="imeiNumber" class="form-label">IMEI number<span
                                                       class="text-danger">*</span> </label>
                                             <input type="text" class="form-control" id="imeiNumber" name="imei_number"
                                                  required />
                                        </div>

                                        <!-- about campaign -->
                                        <div class="mb-3 col">
                                             <label for="aboutCampaign" class="mb-2">How you know about campaign
                                                  ?</label>
                                             <select class="form-select py-3" aria-label="How you know about campaign ?"
                                                  id="aboutCampaign" name="how_know_about_campaign">
                                                  <option selected value="Facebook Ads">Facebook Ads</option>
                                                  <option value="Google Ads">Google Ads</option>
                                                  <option value="Retail Shop">Retail Shop</option>
                                                  <option value="Others">Others</option>
                                             </select>
                                        </div>
                                        <div class="mb-3 col">
                                             <label for="provider" class="mb-2">
                                                  Which provider you use ?
                                                  <br>
                                                  <span style="font-size: 0.6rem;">
                                                       Recharge Card Provider
                                                  </span>
                                             </label>
                                             <select class="form-select py-3" aria-label="Recharge Card Provider"
                                                  id="provider" name="provider">
                                                  <option selected value="Ncell"> Ncell </option>
                                                  <option value="Ntc"> Ntc </option>
                                             </select>
                                        </div>
                                   </div>

                                   <!-- submit button -->
                                   <div class="d-flex justify-content-center pb-5 pt-3">
                                        <input type="submit" class="btn btn-success btn-lg w-50" value="Submit"></input>
                                   </div>
                              </form>
                         </div>
                    </div>
               </div>
          </div>
     </div>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
          crossorigin="anonymous"></script>
</body>

</html>