{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
     <!-- Required meta tags -->
     <meta charset="utf-8" />
     <meta name="viewport" content="width=device-width, initial-scale=1" />

     <!-- Bootstrap CSS -->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
     <link rel="stylesheet" href="{% static 'css/style.css' %}" />

     <title>Lucky Draw</title>
</head>

<body>
     {% if customer.gift %}
     <div class="bgimg-11">
          <div class="caption">
               <div class="container mt-minee">
                    <div class="card border-nonee" style="max-width: 80rem">
                         <div class="card-body">
                              <h4 class="popup2">{{customer.customer_name}}</span>
                         </div>
                         <div class="d-flex flex-column">
                              <img class="gift img-fluid2 mb-5"
                                   src="https://vivodashain.com/media/{{customer.gift.image_url}}" alt="Gift Image" />
                              <button class="btn btn-dark btn-mine border-0 btn-lg">
                                   You have won {{customer.gift.name}}
                              </button>
                         </div>
                    </div>
               </div>
          </div>
     </div>
     <!-- else if -->
     {% elif customer.recharge_card%}
     <div class="bgimg-11">
          <div class="caption">
               <div class="container mt-minee">
                    <div class="card border-nonee" style="max-width: 80rem">
                         <div class="card-body">
                              <h4 class="popup2">{{customer.customer_name}}</span>
                         </div>
                         <div class="d-flex flex-column">
                              <button class="btn btn-dark btn-mine border-0 btn-lg">
                                   You have won Recharge Card
                              </button>
                              <p>PIN : {{customer.recharge_card.cardno}}</p>
                              <p>Amount : {{customer.recharge_card.amount}}</p>
                              <p>Provider : {{customer.recharge_card.provider}}</p>
                         </div>
                    </div>
               </div>
          </div>
     </div>
     {% else %}
     <div class="bgimg-1">
          <div class="caption">
               <div class="container mt-minee">
                    <h1 class="popup2">Happy Dashain and Tihar</h1>
               </div>
          </div>
     </div>
     {% endif %}

     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
          crossorigin="anonymous"></script>
     <script type="text/javascript" src="{% static 'js/confetti.js' %}"></script>
     <script type="text/javascript">
          startConfetti();
     </script>
</body>

</html>